*{
  margin: 0;
  padding: 0;
}


body
{
  background: rgb(0, 0, 0);
}

main
{
  background: white;
  border: 2px solid black;
  margin: auto;
  width: 40%;
  height: 100vh;
  margin-top: 2em;
  display: flex;
  overflow: auto;
  flex-direction: column;
  text-align: center;
}


.out
{
  background-image: url('https://avatars.mds.yandex.net/i?id=db84d9d2abc3126676999bc7e819e0d4fcc6a873-5234741-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}


h1
{
   font-family: 'Satisfy', cursive;
  overflow: hidden;
  width: 70%;
  height: 10vh;
  position: relative;
  left: 10%;
  top:35%;
  font-size: 2.2rem;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 10PX;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulsate {

  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;

  }

  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #bc13fe,
    0 0 45px #bc13fe,
    0 0 55px #bc13fe,
    0 0 70px #bc13fe,
    0 0 80px #bc13fe;

}



}
.neonText {
  overflow: hidden;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}

h2
{
  font-family: 'Open Sans', sans-serif;
  padding-top: 2em;
}

h3
{
  font-family: 'Georama', sans-serif;
padding-top: 2em;
}

.format
{
  background: rgb(0, 0, 0);
  height: 50vh;
}


button
{
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.5em;
  width: 6.5em;
  height: 2.5em;
  border: 1px solid gray;
}

.color
{
  margin-top: 1em;
}

.input
{
  margin-top: 1em;
  width: 80%;
  height: 3.5em;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;

}

button {
  cursor: pointer;
}

.font_btn { 
  display: flex;
  justify-content: space-around;
}

.font_btn button { 
  border: none;
  border-radius: 15px;
  width: 90px;
  height: 50px;
  background-color: rgba(156, 50, 205, 0.238);
  transition: all 0.54s ease-in-out;
}

.font_btn button:hover {
  background-color: #bc13fe;
  scale: 1.1;
  color: white;
}

#choose_color {
  display: none;
}

.fon {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  height: 200px;
  background-color: rgba(40, 38, 38, 0.165);
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  border-radius: 25px;
}

#fonts { 
  display: none;  
}

.fon > div { 
  width: 80px;
  height: 50px;
  background-color: #886a93;
  cursor: pointer;
}


.main_part {
  cursor: pointer;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.main_part p {
  color: blueviolet;
  font-size: 30px;
  transition: all 0.76s ease-in-out;
}

.main_part p:hover {
  color: #bc13fe;
  scale: 0.9;
}

#colors
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
  background-color: black;
}
.favcolor1
{
  width: 50px;
  height: 50px;
  border: 1px solid white;  
  background: red;
  margin: 10px;
}

.favcolor2
{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background: blue;
  margin: 10px;
}

.favcolor3
{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background: yellow;
  margin: 10px;
}

.favcolor4
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: blueviolet;
  margin: 10px;
}

.favcolor5
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: orange;
  margin: 10px;
}
.favcolor6
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: white;
  margin: 10px;
}
.favcolor7
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: green;
  margin: 10px;
}

.favcolor8
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: pink;
  margin: 10px;
}

h2, h3 {
  color: white
}

.line { 
  width: 80%;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

@media(max-width: 800px) {
  main {
    width: 100%;
  }

  .format {
    height: 100vh
  }

}
