*{
  margin: 0;
  padding: 0;
}


body
{
  background: rgb(0, 0, 0);
}

main
{
  background: white;
  border: 2px solid black;
  margin: auto;
  width: 40%;
  height: 100vh;
  margin-top: 2em;
  display: flex;
  overflow: auto;
  flex-direction: column;
  text-align: center;
}


.out
{
  background-image: url('https://avatars.mds.yandex.net/i?id=db84d9d2abc3126676999bc7e819e0d4fcc6a873-5234741-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}


h1
{
   font-family: 'Satisfy', cursive;
  overflow: hidden;
  width: 70%;
  height: 16vh;
  position: relative;
  left: 10%;
  top:35%;
  font-size: 2.2rem;
  animation: pulsate 1.5s infinite alternate;
  border-radius: 10PX;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulsate {

  4% {

      text-shadow:
      0 0 44px #353f38,
      0 0 41px #353f38,
      0 0 19px #353f38,
      0 0 4px #8d00ca,
      0 0 8px #540101,
      0 0 9px #5a2a6f,
      0 0 10px #5f1b7c,
      0 0 10px #8900c3;

  }

  0% {

    text-shadow:
    0 0 2px #353f38,
    0 0 4px #353f38,
    0 0 6px #353f38,
    0 0 2px #6c009b,
    0 0 14px #211a24,
    0 0 15px #211a24,
    0 0 17px #211a24,
    0 0 18px #211a24;

}



}
.neonText {
  overflow: hidden;
  font-size: 25px;
  color: blueviolet;
  text-shadow:

    0 0 4px #211a24,
    0 0 8px #211a24,
    0 0 3px #211a24,
    0 0 2px #211a24,
    0 0 1px #211a24;
}

h2
{
  font-family: 'Open Sans', sans-serif;
  padding-top: 2em;
}

h3
{
  font-family: 'Georama', sans-serif;
padding-top: 2em;
}

.format
{
  background: rgb(0, 0, 0);
  height: 50vh;
}


button
{
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.5em;
  width: 6.5em;
  height: 2.5em;
  border: 1px solid gray;
}

.color
{
  margin-top: 1em;
}

.input
{
  margin-top: 1em;
  width: 80%;
  height: 3.5em;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;

}

button {
  cursor: pointer;
}

.font_btn { 
  display: flex;
  justify-content: space-around;
}

.font_btn button { 
  border: none;
  border-radius: 15px;
  width: 90px;
  height: 50px;
  background-color: rgba(156, 50, 205);
  transition: all 0.54s ease-in-out;
}

.font_btn button:hover {
  background-color: #bc13fe;
  scale: 1.1;
  color: white;
}

#choose_color {
  display: none;
}

.fon {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  height: 200px;
  background-color: rgba(40, 38, 38, 0.165);
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  border-radius: 25px;
  flex-wrap: wrap;
  gap: 12px;
}

#fonts { 
  display: none;  
}

.fon > div { 
  width: 110px;
  height: 80px;
  background-color: #886a93;
  cursor: pointer;
}

.fon :nth-child(1) {
  background-image: url('https://avatars.mds.yandex.net/i?id=db84d9d2abc3126676999bc7e819e0d4fcc6a873-5234741-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.fon :nth-child(2) {
  background-image: url('https://avatars.mds.yandex.net/i?id=e1867adeaa3be2253ed03e12b04fc9f1e0e878d3-6408724-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;  
}

.fon :nth-child(3) {
  background-image: url('https://avatars.mds.yandex.net/i?id=d78e29a1b94cb440bedbef20ff6e4a977b3b7298-8564680-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;  
}

.fon :nth-child(4) {
  background-image: url('https://avatars.mds.yandex.net/i?id=e7adcdc064c3d09e123362f337676e5502033b81-9612020-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;  
}
.fon :nth-child(5) {
  background-image: url('https://avatars.mds.yandex.net/i?id=472087fd67d9e8d174a1352e35a6e572c1d6702a-8803246-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;  
}

.fon :nth-child(6) {
  background-image: url('https://avatars.mds.yandex.net/i?id=673103afccae6b5127609b7eb29c3e965f3cb693-4715150-images-thumbs&n=13');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;  
}

.main_part {
  cursor: pointer;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.main_part p {
  padding: 10px;
  border: solid 1px blueviolet;
  border-radius: 15px;
  color: blueviolet;
  font-size: 25px;
  transition: all 0.76s ease-in-out;
}

.main_part p:hover {
  color: #bc13fe;
  scale: 0.9;
}

#colors
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
  cursor: pointer;
  background-color: black;
}

#colors > div {
  border-radius: 25px;
}
.favcolor1
{
  width: 50px;
  height: 50px;
  border: 1px solid white;  
  background: red;
  margin: 10px;
}

.favcolor2
{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background: blue;
  margin: 10px;
}

.favcolor3
{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background: yellow;
  margin: 10px;
}

.favcolor4
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: blueviolet;
  margin: 10px;
}

.favcolor5
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: orange;
  margin: 10px;
}
.favcolor6
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: white;
  margin: 10px;
}
.favcolor7
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: green;
  margin: 10px;
}

.favcolor8
{
  width: 50px;
  height: 50px; 
  border: 1px solid white;
  background: pink;
  margin: 10px;
}

h2, h3 {
  color: white
}

.line { 
  width: 80%;
  height: 3px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

@media(max-width: 800px) {
  main {
    width: 100%;
  }

  .format {
    height: 100vh
  }

  .main_part p {
    font-size: 20px;
  }
  .fon > div { 
    width: 90px;
    height: 60px;
    background-color: #886a93;
    cursor: pointer;
  }
}
